{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi quo accusantium magnam, at, sapiente in odio dignissimos odit dolorum veniam dolore error iure reiciendis impedit libero natus eos labore minima fuga fugit nemo explicabo, et a. Eum, sint sunt! Dolor sapiente iure culpa, rerum ipsam cupiditate, id aliquid assumenda quam tempora voluptates quasi at quis! Aspernatur error nihil perspiciatis, eligendi facilis fugiat, modi obcaecati distinctio quod quas nulla nisi aliquid consequatur nam, officiis odio facere. Numquam consequuntur tempore doloremque soluta voluptatibus in, natus accusantium voluptates, velit veritatis eaque excepturi pariatur! Quas qui dolore officia vero, deleniti quam soluta delectus!</p>
        
        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">
                Sign in
            </a>
            <a href="/signup/" class="btn btn-dark">
                Sign up
            </a>
        </div>

    </section>
    
</main>
{% endblock %}